.gradient-background {
    background: linear-gradient(300deg, #00bfff, #0091ffe6, #0067b5d3);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

/* Hero section */
.landing-page {
    background-image: url("../assets/images/landing-page-background.png");
    background-size: auto;
}

#hero-header {
    color: white;
}

/* Resume section */
.resume-features {
    justify-content: center;
    /* align-items: center; */
}